@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@500;600&family=Roboto:wght@400;900&family=Rubik&display=swap');
*{
    font-family: Noto Sans;
    padding: 0;
    margin: 0;
}
body{
    background-color: #ECECEC;
    padding: 20px;
}
.container{
    max-width: 650px;
    /* display: block; */
    margin: 0 auto;
}
p{
    margin: 15px 0;
}
.todo__input{
    border: none;
    padding-left: 10px;
}
.todo__text{
    margin-top: 20px;
}

.error{
    margin: 10px;
}

.category{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.category__wrapper{
    display: flex;
    gap: 10px;
}

.todo__title, .todo__description{
    margin: 20px 0;
}
.todo__input{
    width: 100%;
    height: 56px;
    border-radius: 10px;
    background: #FFF;
}
.btn-wrapper{
    max-width: 623px;

}
.btn-add{
    width: 100%;
    height: 65px;
    border-radius: 10px;
    background: rgb(43, 43, 198);
    margin-top: 20px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.btn-add:active{
    box-shadow: 0 0 0 60px #4A4FD6 inset;
    transform: translateY(5px);
    transition: all 0.5s;   
}
.btn-add:hover{
    box-shadow: 3px 3px 20px #4A4FD6;
    border: none;
    transition: 0.5s all;
}

.todo__item-box{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    height: 56px;
    padding: 10px;
    border-radius: 25px;
    background: #FFF;
    align-items: center;
    margin-top: 20px;
    transition: all 0.3s;
}
.todo__item-wrapper{
    display: flex;
    align-items: center;
    gap:10px;
}
.btn-edit{
    width: 51px;
    height: 38px;
    background: #C62D85;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: 0.2s all;
}
.btn-edit:hover{
    opacity: 0.75;
}
.btn-delete{
    width: 69px;
    height: 38px;
    flex-shrink: 0;
    background: #DC4644;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 5px;
    transition: 0.2s all;

}
.btn-delete:hover{
    opacity: 0.75;
}

.hidden{
    display: none;
}

.editable, .todo__item-text{
    border: none;
    outline: none;
}

.todo__list{
    max-width: 623px;
}

.category__wrapper label{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    height: 70px;
    width: 250px;
}
.category__wrapper{
    justify-content: space-between;
}
input[type="radio"],
input[type="checkbox"]{
    display: none;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #C62D85;
    -webkit-box-shadow: 1px 0px 14px 0px rgba(198, 45, 133, 0.2);
    -moz-box-shadow: 1px 0px 14px 0px rgba(198, 45, 133, 0.2);
    box-shadow: 1px 0px 14px 0px rgba(198, 45, 133, 0.2);
}
.bubble.business{
    border-color:#4A4FD6;
    -webkit-box-shadow: 1px 0px 14px 0px rgba(74, 79, 214, 0.2);
    -moz-box-shadow: 1px 0px 14px 0px rgba(74, 79, 214, 0.2);
    box-shadow: 1px 0px 14px 0px rgba(74, 79, 214, 0.2);
}

.bubble::after{
    content: '';
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color:#C62D85;
    -webkit-box-shadow: 1px 0px 14px 0px rgba(198, 45, 133, 0.2);
    -moz-box-shadow: 1px 0px 14px 0px rgba(198, 45, 133, 0.2);
    box-shadow: 1px 0px 14px 0px rgba(198, 45, 133, 0.2);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.bubble.business::after{
    background-color:#4A4FD6;
    -webkit-box-shadow: 1px 0px 14px 0px rgba(74, 79, 214, 0.2);
    -moz-box-shadow: 1px 0px 14px 0px rgba(74, 79, 214, 0.2);
    box-shadow: 1px 0px 14px 0px rgba(74, 79, 214, 0.2); 
}

input:checked ~ .bubble::after{
    width: 12px;
    height: 12px;
    opacity: 1;
}

.done{
    text-decoration: line-through;
    color: #a0a0a0;
}